:root{

}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-image: url("./img/headerbackground.jpeg");
    background-size: cover;
    height: 250px;
}

header h1{
    font-size: 50px;
    color: rgb(97, 95, 95);
}

header nav{
    font-size: 35px;
    display: flex;
    justify-content: end;
    font-weight: bold;
}

header a{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10%;
    color: green;
}

.explore{
    text-align: center;
    color: green;
    font-size: 40px;
    margin-top: 5%;
}

main{
    font-size: 25px;
}

main h2{
    border-right: 3px solid grey;
    width: 10rem;
}

.page-section{
    display: flex;
    margin-top: 3%;
}

 .page-section h2{
    margin-right: 10%;
    margin-left: 5%;
    font-size: 35px;
}

main p {
    width: 50vw;
}

